# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# --- Build / Output ---
out/
dist/
build/

# --- VS Code ---
.vscode/

# --- Logs ---
*.log

# --- OS-specific ---
.DS_Store
Thumbs.db
